body {
    padding-top: 70px;
    background-size: 100% 100%;
    
}

.container-fluid{
    width: 100%;
    margin-top: -19px;
}

.container-fluid .row .col-md-12 {
    padding-left: 0px;
    padding-right: 0px;
}

.slider {
    overflow: hidden;
    height: 650px;
    padding: 0;
    margin: auto;
    padding-top: -63px;
}

.slider .slides{
    display: block;
    margin: 0;
    padding:  0;
    list-style-type:none;
}

.slider .slide img{
    width:100%;
    height:650px;
    float: left;
    padding: 0;
    margin-left: 0;
}

.bx-wrapper .bx-controls-direction a {
        z-index: 0;
    }
.bx-wrapper{
border:0px;
}

.space{
    padding-top: 26px;
}

.navbar-inverse {
    background: #2C4350;
}
.navbar-nav {
    float: left;
    margin: 0;
    margin-top: 7px;
}

.navbar-right {
    float: right;
    margin-right: -15px;
    margin-top: -1px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    height: 26px;
    font-family: 'Berkshire Swash';
    margin-top: -3px;
}

.thumbnail img {
width: 375px;
    border: 1px solid white;
    margin: 0px;
    height: 175px;
    
}

h1{
    text-align: center;
}

.add-padding{
    padding-top: 70px;
}

.img-size {
    padding: 25px 50px 0px 50px;
    
}
.pop-info{
    padding: 15px 15px 15px 15px;
    text-align: center;
}

.product-name{
    padding-bottom: 0px;
    color: orange;
}

.red{
    color: red;
}

.col-purple{
    color: purple;
}

.blue{
    color: brown;
}

.section-margin-20{
    margin-top: 33px;
    margin-bottom: 20px;
    margin-right: 71px;
    margin-left: 56px;
}

.center{
    margin-right:92px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.green{
    color: #04F704;
    font-size: 48px;
}

.fuchsia{
    color: fuchsia;
    font-size: 48px;
}

.margin-left{
    margin-top: 19px;
}

.enlarge-text{
    font-size: 50px;
    margin-top: -25px;
    }


.foot{
        color:white;
        margin-top: 20px;text-align: center;
}



.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:#2C4350;
} 

@media screen and (max-width:1080px){
    body{
        width: 100%;
    }
    .container-fluid{
        width:100%;
        margin-top: -19px;
    }
    .container{
        width:100%;
    }

    .thumbnail img{
        width: 100%;
    }
    .bx-wrapper{
        width:100%;
        padding-top: -19px;
    }

}



